.loading {
  @extend .animated;
  @extend .infinite;
  @extend .fadeCycle;
}

.button-animated {
  @extend .animated;
  @extend .infinite;
  @extend .moduleColorCycle;
}

.login-loader {
  @extend .animated;
  @extend .infinite;
  @extend .spin;
}

// Only on grade a and grade b devices
.grade-a,
.grade-b {

  // Login slide in effect
  .login-top-half,
  .login-bottom-half {
    @extend .animated;
  }
  .login-top-half {
    @extend .slideInDown;
  }
  .login-bottom-half {
    @extend .slideInUp;
  }
  // Module info number fade in on load
  .module-info-container.ng-hide-remove {
    -webkit-transition: 1000ms;
            transition: 1000ms;
    .info-number {
      @extend .animated;
      @extend .fadeIn;
    }
  }
}

// Only on grade a devices
.grade-a {
  // Module info number zoom in on load
  .module-info-container.ng-hide-remove {
    -webkit-transition: 1000ms;
            transition: 1000ms;
    .info-number {
      @extend .animated;
      @extend .zoomIn;
    }
  }
}
