.chapel-credit-content {
  .chapel-loader-container {
    .gordon-chapel {
      margin-bottom: -1.1rem;
      height: 20em;
      -webkit-animation: fade 1s infinite alternate;
              animation: fade 1s infinite alternate;
    }
  }
  .text-container {
    margin-left: 1em;
    margin-right: 1em;
  }
}
