.home-content {
  &.center {
    display: block;
  }
  .module-content {
    width: 100%;
  }
  .scroll-refresher .ionic-refresher-content {
    color: color(white);
  }
  .spinner {
    stroke: color(white);
  }
  // Make emoji the same size as surrounding text
  img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
  }
}
