.home-content {
  .scroll,
  .button {
    height: 100%;
  }
  .scroll,
  .button,
  info-module,
  .module-content {
    width: 100%;
  }
  info-module,
  .column {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
