.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

// Loader animation (fade in and out)
@include keyframes(fadeCycle) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeCycle {
  @include animationName('fadeCycle');
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@include keyframes(slideInLeft) {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInLeft {
  @include animationName('slideInLeft');
}

@include keyframes(slideInRight) {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInRight {
  @include animationName('slideInRight');
}

@include keyframes(zoomIn) {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  @include animationName('zoomIn');
}

@include keyframes(zoomOut) {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  @include animationName('zoomOut');
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  @include animationName('fadeIn');
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  @include animationName('fadeOut');
}

@include keyframes(slideInUp) {
  0% {
    -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%);
            transform: translateY(25%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInUp {
  @include animationName('slideInUp');
}

@include keyframes(slideInDown) {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInDown {
  @include animationName('slideInDown');
}

@include keyframes(moduleColorCycle) {
  0%, 100% {
    background-color: rgba(color(blue), 0.90);
  }
  20% {
    background-color: rgba(color(orange), 0.90);
  }
  40% {
    background-color: rgba(color(purple), 0.90);
  }
  60% {
    background-color: rgba(color(mint-green), 0.90);
  }
  80% {
    background-color: rgba(color(light-red), 0.90);
  }
}

.moduleColorCycle {
  -webkit-animation-duration: 2.25s;
          animation-duration: 2.25s;
  @include animationName('moduleColorCycle');
}

.addTopMargin {
  @include animationName('addTopMargin');
}

@include keyframes(addTopMargin) {
  0% { margin-top: 0; }
  100% { margin-top: 20vh; }
}

@include keyframes(spin) {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.spin {
  @include animationName('spin');
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
