.login-content {
  .gordon-chapel {
    @extend .horizontal-center;
    width: 34vw;
    margin-top: 1rem;
  }
  .login-title {
    margin-top: 0;
    text-align: center;
  }
  .login-form {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    .item {
      margin-top: 5px;
      margin-bottom: 5px;
      &.has-error {
        border-bottom: 2px solid red;
        .input-label {
          color: red;
        }
      }
      &.valid {
        border-bottom: 2px solid green;
        .input-label {
          color: green;
        }
      }
    }
    .login-info {
      margin-top: 2rem;
      font-size: 1.2rem;
      font-family: sans-serif;
      color: color(white);
    }
    .login-errors {
      margin-left: 1rem;
      text-align: left;
      font-weight: 500;
      color: red;
      &.ng-hide {
        visibility: hidden;
        display: block !important;
      }
    }
    .login-button {
      @extend .horizontal-center;
      width: 75%;
    }
  }
}
