module-view-header {
  .module-title {
    margin: 15px;
    text-align: left;
    vertical-align: middle;
  }
  .icon.icon-inline {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    vertical-align: middle;
  }
}
