.module-view-content {
  .chapel-events {
    .chapel-events-list {
      background-color: color(light-gray);
      .event-title {
        font-size: 1.1em;
        white-space: normal;
      }
      .event-date {
        color: color(muted-gray);
        padding-top: 0.25em;
        font-size: 0.9em;
      }
    }
  }
  .highland-express {
    .highland-controls {
      margin-top: 5px;
      margin-bottom: 5px;
      color: color(white);
      text-align: center;
      .highland-schedule-day {
        display: inline-block;
        margin: 0;
        text-transform: capitalize;
      }
      .icon {
        margin-left: 25px;
        margin-right: 25px;
        &:before {
          font-size: 20px;
        }
      }
    }
    .highland-banner {
      padding-top: 10px;
      padding-left: 10px;
      background-color: color(mid-gray);
      padding-bottom: 5px;
      color: color(black);
      h3 {
        color: color(dark-green);
        margin-bottom: 5px;
      }
    }
    .highland-schedule {
      background-color: color(light-gray);
      .row {
        margin: -1px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid color(mid-gray);
        &.highland-destinations {
          border-width: 2px;
        }
        .col {
          text-align: center;
        }
      }
    }
  }
}
