.options-content {
  .scroll {
    height: 100%;
  }
  .item {
    text-align: left;
    .item-label {
      padding-left: 16px;
    }
    .item-data {
      float: right;
    }
    .item-toggle {
      padding-top: 7px;
      padding-bottom: 7px;
      border-width: 0;
    }
    .toggle {
      top: 0;
    }
  }
  .about {
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    bottom: 25px;
    p {
      text-align: left;
      color: color(white);
    }

    a {
      color: color(mint-green);
    }
  }
}
