$gordon-blue: #014983;
$meal-points-orange: #F2A42C;
$text-color: #fff;

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}
// Override default background color
.view.gordon-blue-background,
.pane.gordon-blue-background {
  background-color: $gordon-blue;
}
// Override default font sizes
.scroll-content {
  h1 { font-size: 20vw; line-height: 1; }
  h2 { font-size: 10vw; }
  h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color;
  }
  .text-container {
    margin-left: 1em;
    margin-right: 1em;
  }
}

// Add border to bottom of bar for advertisement
.menu-bar.bar-footer {
  border-bottom: 1px solid #ddd;
}
// Make Modal only cover part of the screen
.modal-backdrop { top: 45vh; }
// Hide ugly backdrop
.modal-backdrop.active { background-color: rgba(0, 0, 0, 0); }
.banner-content {
  padding: 15px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
// Override bar-header height change in iOS modal
.platform-ios.platform-cordova:not(.fullscreen) {
  .modal {
    .bar-header:not(.bar-subheader) {
      height: $bar-height;

      > * {
        margin-top: 0;
      }
    }
    // ion-content push
    .has-header {
      top: $bar-height;
    }
  }
}
a {
  text-decoration: none;
}

.loading {
  -webkit-animation: fade 1s infinite alternate;
          animation: fade 1s infinite alternate;
}

// Loading screen
.chapel-loader-container {
  .gordon-chapel {
    margin-bottom: -1.1rem;
    height: 20em;
    -webkit-animation: fade 1s infinite alternate;
            animation: fade 1s infinite alternate;
  }
}

// Loader animation (fade in and out)
@-webkit-keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@import "home";
@import "login";
@import "mealpoints";
@import "utility";
