<ion-modal-view class="configuration-modal" ng-controller="ConfigController as config">
  <ion-header-bar>
    <h1 class="title" ng-click="hideConfigurationModal()">Tap to close</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <!-- 1. This is the only way to apply moduleClass as well as a
          conditionally applied class in the same statement.
          2. moduleTypeShown cannot be read from $scope because the modal has
          an isolated $scope. -->
      <ion-item class="item-checkbox"
        ng-repeat="module in config.allModules"
        ng-class="{'{{module.moduleClass}}': true, 'item-not-selected': !config.isSelected(module.endpoint)}"
        ng-show="module.moduleType == config.moduleTypeShown">
        <label class="goco-checkbox"
          ng-class="{'ion-checkmark': config.isSelected(module.endpoint), 'ion-close': !config.isSelected(module.endpoint), 'disabled': config.isOnlyModule(module.endpoint)}">
          <input type="checkbox"
            ng-model="config.checkboxes[module.endpoint]"
            ng-change="config.updateModules(module.endpoint)"
            ng-disabled="config.isOnlyModule(module.endpoint)">
        </label>
        <p class="item-title">{{ module.label }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
