<ion-modal-view class="configuration-modal">
  <ion-header-bar>
    <h1 class="title" ng-click="hideConfigurationModal()">Tap to close</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-checkbox"
        ng-repeat="module in modules"
        ng-class="{'{{module.moduleClass}}': true, 'item-placeholder': !module.selected}">
        <label class="ion-checkmark goco-checkbox"
          ng-class="{'ion-checkmark': module.selected, 'ion-close': !module.selected, 'disabled': (selectedModules.length == 1) && (module.selected)}">
          <input type="checkbox"
            ng-model="module.selected"
            ng-change="updateModules()"
            ng-disabled="(selectedModules.length == 1) && (module.selected)">
        </label>
        <p class="item-title">{{ module.label }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
