<ion-view class="gordon-blue-background" view-title="Chapel Credit" cache-view="false">
  <ion-header-bar class="bar-balanced"
    align-title="center"
    ng-show="chapel.banner.body"
    ng-click="chapel.toggleModal('banner')">
    <h1 class="title">{{chapel.banner.title}}</h1>
  </ion-header-bar>
  <ion-content class="main-content center text-center">
    <div class="chapel-loader-container" ng-show="chapel.isLoading">
      <img class="gordon-chapel"
        src="img/logo.svg">
      <h2>LOADING</h2>
    </div>
    <div class="text-container" ng-hide="chapel.isLoading">
      <div ng-hide="chapel.message">
        <h2>You have</h2>
        <h1>{{chapel.chapelCredit.credit}}</h1>
        <h2>chapel credits</h2>
      </div>
      <div class="chapel-message" ng-show="chapel.message">
        <h2>{{chapel.message}}</h2>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="menu-bar bar-light" ng-click="chapel.toggleModal('menu')">
    <h1 class="title">Menu</h1>
  </ion-footer-bar>
</ion-view>
