<ion-view class="meal-points-background" view-title="Meal Points" cache-view="false">
  <ion-header-bar class="bar-balanced"
    align-title="center"
    ng-show="banner.body"
    ng-click="modal.toggleModal('banner')">
    <h1 class="title">{{banner.title}}</h1>
  </ion-header-bar>
  <ion-content class="meal-points-content center text-center">
    <div class="chapel-loader-container" ng-show="meal.isLoading">
      <img class="gordon-chapel"
        src="img/logo.svg">
      <h2>LOADING</h2>
    </div>
    <div class="text-container" ng-hide="meal.isLoading">
      <div ng-hide="meal.message">
        <h2>You have</h2>
        <h1>{{meal.mealPoints}}</h1>
        <h2>meal points</h2>
      </div>
      <div class="chapel-message" ng-show="meal.message">
        <h2>{{meal.message}}</h2>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="menu-bar bar-light" ng-click="modal.toggleModal('menu')">
    <h1 class="title">Menu</h1>
  </ion-footer-bar>
</ion-view>
