<ion-view class="gordon-blue-background" view-title="Module View">
  <app-header back-button="true"></app-header>
  <ion-content class="module-view-content has-header"
    scroll="true"
    overflow-scroll="true">
    <h3 class="error text-center vertical-center"
      ng-bind="moduleView.errorMessage"
      ng-if="moduleView.errorMessage"></h3>
    <ng-include ng-if="!moduleView.errorMessage"
      src="moduleView.templateURL"></ng-include>
  </ion-content>
  <app-banner></app-banner>
</ion-view>
