<ion-view ng-class="moduleView.color" view-title="Module View">
  <app-header back-button="true"
    allow-configuration="false"></app-header>
  <ion-content class="module-view-content has-header"
    scroll="true"
    overflow-scroll="false">
    <div class="error-message text-center vertical-center"
      ng-if="moduleView.errorMessage"
      ng-click="moduleView.refresh()">
      <h3 ng-bind-html="moduleView.errorMessage"></h3>
      <h4>Tap to refresh</h4>
    </div>
    <goco-loader
      class="center"
      ng-show="moduleView.loading"
      icon="moduleView.icon"></goco-loader>
    <ng-include ng-if="!moduleView.errorMessage && !moduleView.loading"
      src="moduleView.templateURL"></ng-include>
  </ion-content>
</ion-view>
