<ion-view ng-class="moduleView.color" view-title="Module View">
  <app-header back-button="true"
    allow-configuration="false"></app-header>
  <ion-content class="module-view-content has-header"
    scroll="true"
    overflow-scroll="false">
    <h3 class="error-message text-center vertical-center"
      ng-bind-html="moduleView.errorMessage"
      ng-if="moduleView.errorMessage"></h3>
    <goco-loader
      class="center"
      ng-show="moduleView.loading"
      icon="moduleView.icon"></goco-loader>
    <ng-include ng-if="!moduleView.errorMessage && !moduleView.loading"
      src="moduleView.templateURL"></ng-include>
  </ion-content>
  <app-banner></app-banner>
</ion-view>
