<div class="highland-express" ng-controller="HighlandExpressController as highland">
  <module-view-header icon="moduleView.icon" label="moduleView.label"></module-view-header>
  <div class="highland-announcement"
    ng-show="moduleView.data.announcement.enabled">
    <h3>{{moduleView.data.announcement.title}}</h3>
    <p>{{moduleView.data.announcement.body}}</p>
  </div>
  <div class="highland-controls">
    <button type="button" class="schedule-button ion-arrow-left-a icon-small"
      ng-click="highland.previousSchedule()"></button>
    <h4 class="highland-schedule-day">
      {{highland.day}} Schedule
    </h4>
    <button type="button" class="schedule-button ion-arrow-right-a icon-small"
      ng-click="highland.nextSchedule()"></button>
  </div>
  <div class="highland-schedule">
    <div class="highland-destinations row">
    	<div class="col"
        ng-repeat="destination in moduleView.data.schedule[highland.day].destinations track by $index">
        {{destination}}
    	</div>
    </div>
    <div class="row"
      ng-repeat="row in moduleView.data.schedule[highland.day].times">
      <div class="col" ng-repeat="column in row track by $index">{{column}}</div>
    </div>
  </div>
</div>
