<div class="highland-express" ng-controller="HighlandExpressController as highland">
  <module-view-header icon="moduleView.icon" label="moduleView.label"></module-view-header>
  <div class="highland-banner"
    ng-show="moduleView.data.banner.active">
    <h3>{{moduleView.data.banner.title}}</h3>
    <p>{{moduleView.data.banner.body}}</p>
  </div>
  <div class="highland-controls">
    <span class="ion-arrow-left-a icon"
      ng-click="highland.previousSchedule()"></span>
    <h4 class="highland-schedule-day">
      {{highland.day}} Schedule
    </h4>
    <span class="ion-arrow-right-a icon"
      ng-click="highland.nextSchedule()"></span>
  </div>
  <div class="highland-schedule">
    <div class="highland-destinations row">
      <div class="col"
        ng-repeat="destination in moduleView.data.schedule[highland.day].destinations">
        {{destination}}
      </div>
    </div>
    <div class="row"
      ng-repeat="row in moduleView.data.schedule[highland.day].times">
      <div class="col" ng-repeat="column in row">{{column}}</div>
    </div>
  </div>
</div>
