<ion-header-bar class="bar-light" align-title="center">
  <div class="buttons">
    <button class="button button-icon ion-arrow-left-c"
      ng-if="backButton"
      ng-click="go('home')">
    </button>
    <button class="button button-icon ion-navicon"
      ng-click="showConfigurationModal()"
      ng-if="allowConfiguration">
    </button>
  </div>
  <h1 class="title">GOCO STUDENT</h1>
  <div class="buttons">
    <button class="button button-icon ion-more"
      ng-click="showMenu($event)">
    </button>
  </div>
</ion-header-bar>
