<button class="button button-full activated"
  ng-class="module.moduleClass"
  ng-click="module.delegateAction()">
  <div class="module-content"
    ng-hide="module.errorMessage">
    <div class="module-left column">
      <div class="{{module.icon}} icon"
        ng-class="{loading: module.loading}"
        ng-hide="module.loading === false"></div>
      <h1 class="info-number"
        ng-hide="!module.data || module.loading">
        {{module.prefix}}{{module.data}}{{module.suffix}}
      </h1>
    </div>
    <div class="module-right column">
      <h2 class="info-label">
        {{module.label}}
        <span ng-if="module.moduleType == 'interaction'"
        class="interaction-arrow ion-chevron-right"></span>
      </h2>
    </div>
  </div>
  <h2 class="info-error-message"
    ng-show="module.errorMessage  && !module.loading"
    ng-bind-html="module.errorMessage"></h2>
</button>
