<button class="button button-full activated"
  ng-class="module.moduleClass"
  ng-click="module.delegateAction()">
  <div class="module-content"
    ng-hide="module.errorMessage">
    <div class="module-left column">
      <!-- Show icon when loading and before first interaction -->
      <div class="module-icon-container"
        ng-show="(module.loading === true || module.loading == null)">
        <div class="{{module.icon}} icon"
          ng-class="{loading: module.loading}"></div>
      </div>
      <!-- Hide info number when loading and before first interaction -->
      <div class="module-info-container"
        ng-hide="(module.loading === true || module.loading == null)">
        <h1 class="info-number">
          {{module.prefix}}{{module.data}}{{module.suffix}}
        </h1>
      </div>
    </div>
    <div class="module-right column">
      <h2 class="info-label">
        {{module.label}}
        <span ng-if="module.moduleType == 'interaction'"
        class="interaction-arrow ion-chevron-right"></span>
      </h2>
    </div>
  </div>
  <h2 class="info-error-message"
    ng-show="module.errorMessage && !module.loading"
    ng-bind-html="module.errorMessage"></h2>
</button>
